
@{
    ViewBag.Title = "ok";
}


<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <h2>Index</h2>









</body>
</html>